
.color1-bg {
    background: #93DD44;
}

.color2-bg {
    background: #F9D448;
}

.color3-bg {
    background: #F19336;
}

.color4-bg {
    background: #E45427;
}

.color5-bg {
    background: #9A216D;
}

.color6-bg {
    background: #7D161B;
}

.color1 {
    color: #93DD44;
}

.color2 {
    color: #F9D448;
}

.color3 {
    color: #F19336;
}

.color4 {
    color: #E45427;
}

.color5 {
    color: #9A216D;
}

.color6 {
    color: #7D161B;
}

.range-label {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    /* or 100% */

    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    color: #FFFFFF;

    width: 48px;

    height: 15px;
    border-radius: 2px;
    margin: 0px 1px;
}

#app {
    height: 130px;
    width: 362px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: white;
    padding-top: 20px;
    padding-left: 22px;
}

.line1 {
    height: 52px;
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 342px;
    top: 37px;
}

.line1 .aqi{
    min-width: 97px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.aqi-number{
    width: 52px;
    height: 38px;
    left: 0px;
    top: 0px;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 38px;
    /* identical to box height, or 84% */

    text-transform: uppercase;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aqi-label{
    width: 18px;
    height: 12px;
    left: 54px;
    top: 26px;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: uppercase;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.line1 .header{

    width: 206px;
    height: 42px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
}
.line1 .header .title{
    color: #173361;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

}
.line1 .header .title.header-sm{
    font-size: 12px;
}
.line1 .header .description{

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    display: block;
    /* identical to box height, or 180% */


    color: #323232;
}


.line2 {
    height: 30px;
    left: 6.04%;
    right: 6.04%;
    top: 62.91%;
    bottom: 27.15%;
}

.line3 {
    height: 20px;
}

.info-label {
    /* оновлено 8 хв тому */
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height, or 150% */
    /* Dark Gray */
    color: #323232;
    opacity: 0.5;
}

.info-label-right {
    left: 142px;
    position: relative;
}

html,body{
    margin: 0;
    padding: 0;
}